@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5b7eb;

}
html.dark{
  --line-color: rgba(255, 255, 255, 0.2);
}
.borderBlack {
  @apply border border-black/10;
}


/* Estilos para prevenir scroll horizontal */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}